
#left{
  display: flex;
  height: 25%;
  background-color: red;
}

#right{
  display: flex;
  background-color: green;
}



.panel{
  background-color: #f9f9f9;
  border: solid #eaeaea 2px;
  border-radius: 3%
}
