body {
    background-color: lemonchiffon;
}

#left{
  display: flex;
  height: 25%;
  background-color: red;
}

#right{
  display: flex;
  background-color: green;
}



.panel{
  background-color: #f9f9f9;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.cadre{
  border:solid grey 2px;
  border-radius: 20%;
}

#title{
  display:flex;
  justify-content:center;
  font-size: 500%;
  font-family: fantasy;
  color: darkgrey;
}
footer{
  display: flex;
  align-items: flex-end;
  background-color: grey;

}
#copyRights{
  margin: 10px;
}
.content{
  background-color: #f8f9fa;
  /* height: 600px; */
}
li a {
  text-decoration: none;
}

.lore
{
  font-size: 20;
  height: 100;
  background-color: lightblue;
  text-align: center;
}

#freeWraithBtn
{
  display: none;
}

#iscription{
  height:100%;
}
